/**
*생성자 : 김혜경
*생성일 : 2021.12.06
*로그인
*/
@charset "UTF-8";
@import url("/css/common/common.css");

input, select{
	padding: 5px;
}

.flex{
	display: flex;
	align-items: center;
}

.h30{
	height: 30px;
}

.mr10{
	margin-right: 10px;
}

.mr5{
	margin-right: 5px;
}

#contentsWrap {
	position: absolute;
	margin: 5% auto;
	margin-left: 13%;
    margin-right: 20%;
	padding: 15px;
	width: 60%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;
}

#ssWrap{
	margin-top: 10px;
}
#dateWrap>input{
	width: 150px;
	height: 25px;
	font-size: 12px;
}
#goodsSeparate{
	height: 25px;
	font-size: 12px;
}
#goodsNmNbrm{
	height: 25px;
	font-size: 12px;
}
#searchWrap>input{
	height: 25px;
	font-size: 12px;
}
#goSearch{
	width: 37px;
    height: 25px;
	font-size: 12px;
}

/* /////////////////////////////// */
.bestBook-list-wrap{
	margin-top: 50px;
}

.flexTable{
    display: flex;
    flex-direction: column;
}

#bestBookTable{
	margin-bottom: 20px;
}

#img {
	width: 100px;
    height: 133px;
	object-fit: cover;
}

#imgNm{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 380px;
	height: 20px;
	color: #3774B1;
	font-weight: bold;
}
.f14{
	font-size: 14px;
}
.f12{
	font-size: 12px;
}

.imgPrice{
	color: #e45374;
}

#cartBtn{
	width: 100% !important;
	background-color: darkolivegreen;
}

.li{
	margin-bottom: 10px;	
}

.overflowHidden{
   display: block;
   color: black;
   width: 630px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}