/**
*생성자 : 김소연
*생성일 : 2021.12.09
*고객정보
*/
@charset "UTF-8";

@import url("/css/common/common.css");

h3 {
	margin-left: 5.8em;
}

input, select {
	padding: 3px;
}

input[type=date] {
	height: 23px;
}

select {
	display: inline-block;
	width: 100px;
}

#ssWrap {
	margin: 10px 0;
}

#dateWrap {
	display: inline-block;
}

#dateWrap input {
	width: 130px;
	height: 24px;
}

#csInfoUpperWrap {
	height: 900px;
}

#goSearch {
	width: 100px;
	height: 1.8em;
}

#searchWrap {
	display: inline-block;
}

#searchWrap>input {
	width: 250px;
}

#csInfoTable {
	margin-top: 10px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

#csInfoTable tr:nth-of-type(1) {
	background-color: #ccc;
}

#csInfoTable tr {
	border-bottom: 2px solid #eee;
}

#csInfoDetailTable, #buyHistoryTable {
	border: 1px solid #ddd;
	border-collapse: collapse;
	margin: 3% 10%;
}

#csInfoDetailTable tr, #buyHistoryTable tr {
	border-top: 1px solid #ddd;
}

#csInfoDetailTable td {
	padding: 10px;
}

#csInfoDetailTable tr>td:nth-of-type(1) {
	background-color: #eaeaea;
	text-align: center;
}

#csInfoDetailTable tr>td:nth-of-type(2)::before {
	/*공백 유니코드*/
	content: '\00a0';
}

#buyHistoryTable tr td {
	text-align: center;
}

#buyHistoryTable tr:nth-of-type(1) td {
	background-color: #eaeaea;
}