@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li, ol {
	list-style: none;
}

#contents {
	position: absolute;
	display: inline-block;
	padding: 15px;
	top: 15%;
	width: 80%;
}

h2 {
	margin-bottom: 5px;
}

button {
	width: 20%;
	height: 2.5em;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
}

/* ---- side Menu ------- */
#sideUl {
	margin: 0;
	border-bottom: 1px solid #000;
	overflow: auto;
}

#sideUl>li {
	border-top: 1px solid #000;
}

.rootMenu {
	display: inline-block;
	height: 30px;
	margin: 10px 0 0 10px;
}

.nodeMenu {
	display: inline-block;
	height: 20px;
	margin-top: 5px;
}