<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.myTotalInfo.MyCartDaoImpl">

	<!-- 장바구니에 담긴 상품 개수 확인 -->
	<select id="cartCount" resultType="int" >
	/* myCartMapper.cartCount */
		SELECT COUNT(*)
		  FROM CART
		 WHERE CS_NO = #{csNo}
		   AND GD_NO = #{gdNo}
	</select>
	
	<!-- 장바구니에 물건이 없으면 insert -->
	<insert id="insertCart">
	/* myCartMapper.insertCart */
	INSERT INTO CART
		 VALUES (
		 		CART_SEQ.nextval
		 	 	,#{csNo}
		 		,#{gdNo}
		 		,#{gdQty}
		 )
	</insert>
	
	<!-- 장바구니에 물건이 있으면 update -->
	<update id="updateCart">
	/* myCartMapper.updateCart */
		UPDATE CART
		   SET GD_NO = #{gdNo}
		 WHERE CS_NO = #{csNo}
	</update>
	
	<!-- 장바구니 목록 가져오기 -->
	<select id="getCartList" resultType="String" >
	/* myCartMapper.getCartList */
		SELECT AA.* 
		 FROM(
				SELECT 
					C.CART_NO
					,C.CS_NO 
					,C.GD_QTY 
					,GI.GD_NO
					,GI.GD_NM 
					,GI.GD_SP 
					,GI.GD_IMG 
					,GI.GD_PRICE
				FROM CART C 
				JOIN GOODS_INFO GI
				ON GI.GD_NO = C.GD_NO 
			) AA
		WHERE AA.CS_NO = #{csNo}
	</select>
	
</mapper>