<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.login.LoginDaoImpl">
	<select id="selectLoginCnt" parameterType="com.vo.login.LoginVO"
		resultType="int">
		<!-- logInMapper.selectLoginCnt -->
		SELECT COUNT(*)
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId} AND CS_PS = #{csPs}
	</select>

	<select id="selectLogin" parameterType="com.vo.login.LoginVO"
		resultType="com.vo.login.LoginVO">
		<!-- logInMapper.selectLogin -->
		SELECT
		CS_NO as csNo,
		CART_NO as cartNo,
		CS_GRADE as csGrade,
		CS_ID as csId,
		CS_PS as csPs,
		CS_NM as csNm,
		CS_ADDR as csAddr,
		CS_PHONE as csPhone,
		CREATE_DATE as createDate
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId} AND CS_PS = #{csPs}
	</select>
</mapper>
