<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.login.LoginDaoImpl">
	<select id="selectLoginCnt" parameterType="com.vo.login.LoginVO"
		resultType="int">
		<!-- logInMapper.selectLoginCnt -->
		SELECT COUNT(*)
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId} AND CS_PS = #{csPs}
	</select>

	<select id="selectLogin" parameterType="com.vo.login.LoginVO"
		resultType="com.vo.login.LoginVO">
		<!-- logInMapper.selectLogin -->
		SELECT
		CS_NO as csNo,<!-- 고객번호 -->
		CART_NO as cartNo,<!-- 장바구니번호 -->
		CS_GRADE as csGrade,<!-- 회원구분 -->
		CS_ID as csId,<!-- 아이디 -->
		CS_PS as csPs,<!-- 비밀번호 -->
		CS_NM as csNm,<!-- 이름 -->
		CS_ADDR as csAddr,<!-- 주소 -->
		CS_PHONE as csPhone,<!-- 휴대폰번호 -->
		CREATE_DATE as createDate<!-- 가입날짜 -->
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId} AND CS_PS = #{csPs}
	</select>
	
	<!-- 회원가입 insert -->
	<insert id="doJoin" parameterType="com.vo.login.JoinVO">
		INSERT INTO CUSTOMER_INFO(
			CS_NO <!-- 고객번호 -->
			,CS_GRADE <!-- 고객등급 -->
			,CS_ID <!-- 고객아이디 -->
			,CS_PS <!-- 비밀번호 -->
			,CS_NM <!-- 이름 -->
			,CS_PHONE_ONE <!-- 핸드폰앞자리 -->
			,CS_PHONE_TWO <!-- 핸드폰중간자리 -->
			,CS_PHONE_THREE <!-- 핸드폰끝자리 -->
			,CS_EMAIL_ONE <!-- 이메일앞자리 -->
			,CS_EMAIL_TWO <!-- 이메일 뒷자리 -->
			,CREATE_DATE <!-- 생성일 -->
			,CS_ADDR_ONE <!-- 주소 앞부분 -->
			,CS_ADDR_TWO <!-- 주소 뒷부분 -->
			,CS_BIRTH_YEAR <!-- 생일 년도 -->
			,CS_BIRTH_MONTH <!-- 생일 월 -->
			,CS_BIRTH_DAY <!-- 생일 일 -->
		)
		VALUES(
			CUSTOMER_INFO_SEQ.nextval
			,'1'
			,#{csId}
			,#{csPs}
			,#{csNm}
			,#{csPhoneOne}
			,#{csPhoneTwo}
			,#{csPhoneThree}
			,#{csEmailOne}
			,#{csEmailTwo}
			,SYSDATE
			,#{csAddrOne}
			,#{csAddrTwo}
			,#{csBirthYear}
			,#{csBirthMonth}
			,#{csBirthDay}
		)
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int">
	<!-- CUSTOMER_INFO에 있는 #{csId}로 넘어온 id의 모든개수선택 -->
	<!-- id가 있으면 1, 없으면 0(0일때 회원가입이 진행된다.) -->
		SELECT COUNT(*) 
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="emailChk" resultType="int">
	<!-- CUSTOMER_INFO에 있는 #{csId}로 넘어온 id의 모든개수선택 -->
	<!-- id가 있으면 1, 없으면 0(0일때 회원가입이 진행된다.) -->
		SELECT COUNT(CS_EMAIL_ONE||CS_EMAIL_TWO) EMAILCOUNT
		FROM CUSTOMER_INFO
		WHERE CS_EMAIL_ONE||CS_EMAIL_TWO = #{csEmailOne}||#{csEmailTwo}
	</select>
</mapper>
