<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.login.LoginDaoImpl">
	<select id="selectLoginCnt" parameterType="com.vo.login.LoginVO"
		resultType="int">
		<!-- logInMapper.selectLoginCnt -->
		SELECT COUNT(*)
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId} AND CS_PS = #{csPs}
	</select>

	<select id="selectLogin" parameterType="com.vo.login.LoginVO"
		resultType="com.vo.login.LoginVO">
		<!-- logInMapper.selectLogin -->
		SELECT
		CS_NO as csNo,<!-- 고객번호 -->
		CART_NO as cartNo,<!-- 장바구니번호 -->
		CS_GRADE as csGrade,<!-- 회원구분 -->
		CS_ID as csId,<!-- 아이디 -->
		CS_PS as csPs,<!-- 비밀번호 -->
		CS_NM as csNm,<!-- 이름 -->
		CS_ADDR as csAddr,<!-- 주소 -->
		CS_PHONE as csPhone,<!-- 휴대폰번호 -->
		CREATE_DATE as createDate<!-- 가입날짜 -->
		FROM CUSTOMER_INFO
		WHERE CS_ID = #{csId} AND CS_PS = #{csPs}
	</select>
	
	<insert id="doJoin" parameterType="com.vo.login.JoinVO">
		INSERT INTO CUSTOMER_INFO(
			CS_NO
			,CS_GRADE
			,CS_ID
			,CS_PS
			,CS_NM
			,CS_PHONE_ONE
			,CS_PHONE_TWO
			,CS_PHONE_THREE
			,CS_EMAIL_ONE
			,CS_EMAIL_TWO
			,CREATE_DATE
			,CS_ADDR_ONE
			,CS_ADDR_TWO
		)
		VALUES(
			CUSTOMER_INFO_SEQ.nextval
			,'1'
			,#{csId}
			,#{csPs}
			,#{csNm}
			,#{csPhoneOne}
			,#{csPhoneTwo}
			,#{csPhoneThree}
			,#{csEmailOne}
			,#{csEmailTwo}
			,SYSDATE
			,#{csAddrOne}
			,#{csAddrTwo}
		)
	</insert>
</mapper>
