/**
*생성자 : 김소연
*생성일 : 2021.11.27
*공통
*/
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li, ol {
	list-style: none;
}

#contents {
	position: absolute;
	margin: 5% auto;
	padding: 15px;
	width: 90%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;
}

h2 {
	margin-bottom: 5px;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

button {
	width: 20%;
	height: 2.5em;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
}

.btnSmall {
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

.btnSmallList {
	width: 100px;
	margin-top: 10px;
	float: left;
}

.hover {
	cursor: pointer;
}

.mr6 {
	margin-right: 6px;
}

.mt10 {
	margin-top: 10px;
}
/* ---- side Menu ------- */
#homeIcon {
	width: 60px;
	padding: 15px;
}

#logoIcon {
	position: absolute;
	padding: 20px 0;
}

#sideUlWrap {
	display: inline-block;
	background-color: #E0E0E0;
	width: 10%;
	min-height: 575px;
}

#sideUl {
	margin: 0;
	border-bottom: 1px solid #000;
	overflow: auto;
}

#sideUl>li {
	border-top: 1px solid #000;
}

.rootMenu {
	display: inline-block;
	height: 30px;
	margin: 10px 0 0 10px;
}

.nodeMenu {
	display: inline-block;
	height: 20px;
	margin-top: 5px;
}

#goLogInBtn, #goLogOutBtn {
	display: block;
	margin: 20px 20px 0 0;
	width: 100px;
	float: right;
}

#userNameSpace {
	display: inline-block;
	position: absolute;
	text-align: right;
	top: 25px;
	width: 76%;
}