/**
*생성자 : 김소연
*생성일 : 2021.11.27
*공통
*/
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li, ol {
	list-style: none;
}

#contents {
	position: absolute;
	margin: 5% auto;
	padding: 15px;
	width: 90%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;
}

h2 {
	margin-bottom: 5px;
}

h3 {
	display: inline-block;
}

h5 {
	display: inline-block;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

button {
	width: 20%;
	height: 2.5em;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
}

.btnSmall {
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

.btnXSmall {
	width: 70px;
	height: 22px;
	font-size: small;
	margin-top: 10px;
}

.btnSmallList {
	width: 100px;
	margin-top: 10px;
	float: left;
}

.hover {
	cursor: pointer;
}

/*input 타입의 number에서 위아래 버튼 안나오게 하는 css*/
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.mr6 {
	margin-right: 6px;
}

.mt10 {
	margin-top: 10px;
}

#pageList {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.page {
	border: 2px solid #eee;
	padding: 0.5em 1em;
}
/* ---- side Menu ------- */
#homeIcon {
	width: 60px;
	padding: 15px;
}

#logoIcon {
	position: absolute;
	padding: 20px 0;
}

#sideUlWrap {
	display: inline-block;
	background-color: #d9e0ee;
	width: 10%;
	min-height: 575px;
}

#sideUl {
	margin: 0;
	background-color: #d9e0ee;
	border-bottom: 1px solid #000;
	overflow: auto;
}

#sideUl>li {
	border-top: 1px solid #000;
}

.rootMenu {
	display: inline-block;
	height: 30px;
	margin: 10px 0 0 10px;
}

.nodeMenu {
	display: inline-block;
	height: 20px;
	margin-top: 5px;
}

#goLogInBtn, #goLogOutBtn {
	display: block;
	margin: 20px 20px 0 0;
	width: 100px;
	float: right;
}

#userNameSpace {
	display: inline-block;
	position: absolute;
	text-align: right;
	top: 25px;
	width: 76%;
}

/* ----  footer ------- */
#footer {
	display: flex;
	height: 162px;
}

#footerContentsL {
	float: left;
	margin-top: 33px;
	height: 44px;
	width: 50%;
	background-color: #4e5564;
	color: #cdcbcb;
}

#footerLul {
	display: flex;
	justify-content: space-evenly;
}

#cmpnyInfo {
	margin-top: 15px;
	margin-left: 35px;
}

#cmpnyInfo span {
	display: block;
}

#footerContentsR {
	margin-top: 20px;
	margin-left: 180px;
}

#qIcon {
	width: 120px;
}

#phoneNmbr {
	margin-top: 33px;
	margin-left: 50px;
	font-size: large;
	font-weight: 500;
	color: #000;
}


