/**
*생성자 : 김소연
*생성일 : 2022.01.06
*사용자메인
*/
@charset "UTF-8";

@import url("/css/common/common.css");

#contentsWrap {
	height: 700px;
	position: absolute;
	margin: 5% auto;
	padding: 15px;
	width: 90%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#leftContents {
	height: 35%;
	width: 80%;
}

#leftSlideShow {
	height: 100%;
	overflow: hidden;
	position: relative;
}

#slides>div>img {
	position: absolute;
	width: 90%;
	height: 100%;
	float: left;
}

#tabNav {
	position: absolute;
	width: 400px;
	top: 90%;
	left: 33%;
}

#tabNav a {
	color: #fff;
	width: 350px;
	background-color: #000;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	margin-left: -7px;
}

#epTab:link, #gfTab:link {
	color: #fff;
}

#epTab {
	padding: 8px 20px;
}

#gfTab {
	padding: 8px 36px;
}

#slides>button {
	width: 10px;
	position: absolute;
	height: 90%;
	border: none;
	padding: 10px;
	background-color: transparent;
	font-weight: 800;
	font-size: 24px;
	opacity: 0.4;
	color: #000;
}

#slides>button:hover {
	opacity: 0.9;
	cursor: pointer;
}

#slides>button::focus {
	outline: 0;
}

#prev {
	left: 15;
}

#next {
	left: 85%;
}
/*-------베스트셀러 ------*/
#bestSellerTab {
	width: 50%;
}

#bestSellerTab ul {
	height: 50px;
	line-height: 50px;
	justify-content: space-around;
	font-size: 16px;
	background-color: #d9e0ee;
}

#bestRank {
	width: 25%;
	border: 1px solid #000;
	margin-left: -75px;
}

#bestRank input {
	color: #000;
	width: 51%;
	background-color: #d9e0ee;
	text-decoration: none;
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
}

#bestRank input:nth-of-type(2) {
	border-left: 1px solid;
	margin-left: -11.5px;
}

#bestRank ul li {
	display: flex;
	white-space: nowrap;
	margin-bottom: 5px;
	padding: 1em;
}

#bestRank ul li div:nth-of-type(1) {
	margin: 0px 5px 34px;
	padding: 0.25em 0.5em;
	background-color: #a6b3ce;
}

#bestRank ul li div:nth-of-type(2) {
	width: 100px;
}

#bestRank ul li div span {
	/*상위 태그 크기를 넘어가면 ....로 표현*/
	overflow: hidden;
	text-overflow: ellipsis;
}

#bestRank img {
	width: 100px;
	height: 50px;
}