<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.orderMgt.OrderListDaoImpl">

	<!-- 주문목록 가져오기 -->
	<select id="selectMyOrderList"  parameterType="com.vo.common.SearchVO" resultType="com.vo.orderMgt.OrderWrapVO">
	/*  orderListMapper.selectMyOrderList */
	SELECT 
		csId
	   ,csNm
	   ,odNo
	   ,odDate
	   ,odState
	   ,trDate
	  FROM
	  (SELECT
	    	ROWNUM as rnum
	       ,csId
	       ,csNm
	       ,odNo
	       ,odDate
	       ,odState
	       ,trDate
		  FROM
		  (SELECT
				O.OD_NO AS odNo<!--주문번호 -->
			   ,DECODE(O.OD_STATE,'100',<![CDATA['주문완료']]>,'200',<![CDATA['주문취소']]>,'300',<![CDATA['배송중']]>,'400',<![CDATA['배송완료']]>) AS odState<!--주문상태 -->
			   ,TO_CHAR(O.OD_DATE,'YYYY-MM-DD HH24:MI') AS odDate<!--주문날짜 -->
		       ,DECODE(O.TR_DATE,null,<![CDATA['-']]>,TO_CHAR(O.TR_DATE,'YYYY-MM-DD HH24:MI')) AS trDate<!--배송날짜 -->
		       ,C.CS_ID AS csId<!--고객아이디 -->
		       ,C.CS_NM AS csNm<!--이름 -->
			 FROM ORDER_INFO O
	         LEFT OUTER JOIN CUSTOMER_INFO C ON C.CS_NO = O.CS_NO
			WHERE 1=1
			<if test='selectOptValThree != null'>
				<if test='startDt != null and endDt != null'>
					<if test='selectOptValThree.equals("odDt")'>
						AND O.OD_DATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+ 1
					</if>
					<if test='selectOptValThree.equals("trDt")'>
						AND O.TR_DATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+ 1
					</if>
				 </if>
			</if>
			<if test='selectOptValOne != null'>
				<if test='selectOptValOne.equals("optAll")'>
					AND O.OD_STATE IN ('100','200','300','400')
				</if>
				<if test='!selectOptValOne.equals("optAll")'>
					AND O.OD_STATE = #{selectOptValOne}
				</if>
			</if>
			<if test='selectOptValTwo != null'>
				<if test='selectOptValTwo.equals("optAll")'>
					AND(   O.OD_NO LIKE '%'||#{searchVal}||'%'
						OR C.CS_ID LIKE '%'||#{searchVal}||'%'
						OR C.CS_NM LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValTwo.equals("orderNmbr")'>
					AND(O.OD_NO LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValTwo.equals("userId")'>
					AND(C.CS_ID LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValTwo.equals("userNm")'>
					AND(C.CS_NM LIKE '%'||#{searchVal}||'%')
				</if>
			</if>
			 GROUP BY O.OD_NO, O.OD_STATE, O.OD_DATE, O.TR_DATE, C.CS_ID, C.CS_NM
			 ORDER BY O.OD_DATE DESC
		)WHERE ROWNUM <![CDATA[<=]]> #{endCount}
	 )WHERE rnum <![CDATA[>=]]> #{startCount}
	
	</select>
	
	<!-- 검색글 카운트 -->
	<select id="selectOrderListCount" parameterType="com.vo.common.SearchVO" resultType="_int">
	/*  orderListMapper.selectOrderListCount */
	SELECT
	    COUNT(odNo)
	  FROM
		(SELECT
			  O.OD_NO AS odNo <!--주문번호 -->
			 ,O.OD_STATE AS odState <!--주문상태 -->
			 ,O.OD_DATE AS odDate<!--주문날짜 -->
	         ,O.TR_DATE AS trDate<!--배송날짜 -->
	         ,C.CS_ID AS csId<!--고객아이디 -->
	         ,C.CS_NM AS csNm<!--이름 -->
		 FROM ORDER_INFO O
         LEFT OUTER JOIN CUSTOMER_INFO C ON C.CS_NO = O.CS_NO
		 WHERE 1=1
		<if test='selectOptValThree != null'>
			 <if test='startDt != null and endDt != null'>
				<if test='selectOptValThree.equals("odDt")'>
				AND O.OD_DATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+ 1
				</if>
				<if test='selectOptValThree.equals("trDt")'>
				AND O.TR_DATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+ 1
				</if>
			 </if>
		</if>
		<if test='selectOptValOne != null'>
			<if test='selectOptValOne.equals("optAll")'>
				AND O.OD_STATE IN ('100','200','300','400')
			</if>
			<if test='!selectOptValOne.equals("optAll")'>
				AND O.OD_STATE = #{selectOptValOne}
			</if>
		</if>
		<if test='selectOptValTwo != null'>
			<if test='selectOptValTwo.equals("optAll")'>
				AND(   O.OD_NO LIKE '%'||#{searchVal}||'%'
					OR C.CS_ID LIKE '%'||#{searchVal}||'%'
					OR C.CS_NM LIKE '%'||#{searchVal}||'%')
			</if>
			<if test='selectOptValTwo.equals("orderNmbr")'>
				AND(O.OD_NO LIKE '%'||#{searchVal}||'%')
			</if>
			<if test='selectOptValTwo.equals("userId")'>
				AND(C.CS_ID LIKE '%'||#{searchVal}||'%')
			</if>
			<if test='selectOptValTwo.equals("userNm")'>
				AND(C.CS_NM LIKE '%'||#{searchVal}||'%')
			</if>
		</if>
		 GROUP BY O.OD_NO, O.OD_STATE, O.OD_DATE, O.TR_DATE, C.CS_ID, C.CS_NM)
	</select>
	
	<!-- 주문상태,발송날짜 변경하기 -->
	<update id="updateOdState" parameterType="java.util.Map">
	/*  orderListMapper.updateOdState */
	UPDATE ORDER_INFO
	<if test='nowOdState.equals("orderCancel")'>
	   SET OD_STATE = '200'
	  	  ,TR_DATE = NULL
	</if>
	<if test='nowOdState.equals("transferStart")'>
	   SET OD_STATE = '300'
	   	  ,TR_DATE = SYSDATE
	</if>
	<if test='nowOdState.equals("transferDone")'>
	   SET OD_STATE = '400'
	</if>
	 WHERE OD_NO = #{checkedOdNo}
	</update>
	
	<!-- 주문목록상세내역가져오기 -->
	<select id="selectOrderDetail" parameterType="java.util.Map" resultType="com.vo.orderMgt.OrderWrapVO">
	/*  orderListMapper.selectOrderDetail */
	SELECT 
		a.odNo<!--주문번호 -->
		,a.odDate<!--주문날짜 -->
		,a.rcAddrOne<!--수취인기본주소 -->
		,a.rcAddrTwo<!--수취인상세주소 -->
		,a.rcPhone<!--수취인휴대폰번호 -->
		,a.rcEmail<!--수취인이메일 -->
		,a.rcNm<!--수취인이름 -->
		,a.odState<!--주문상태 -->
		,a.gdQty <!--상품갯수 -->
		,a.odAmt<!--주문금액 -->
		,a.gdNm <!--상품이름 -->
		,DECODE(a.trDate,NULL,<![CDATA['-']]>,TO_CHAR(a.trDate,'YYYY-MM-DD HH24:MI')) as trDate<!--배송날짜 -->
	FROM
	(SELECT
	    o.OD_NO AS odNo
	    ,o.OD_DATE AS odDate
	    ,o.TR_DATE AS trDate
	    ,o.RC_ADDR_ONE AS rcAddrOne
	    ,o.RC_ADDR_TWO AS rcAddrTwo
	    ,o.RC_PHONE AS rcPhone
	    ,o.RC_EMAIL  AS rcEmail
	    ,o.RC_NM AS rcNm
	    ,DECODE(o.OD_STATE,'100',<![CDATA['주문완료']]>,'200',<![CDATA['주문취소']]>,'300',<![CDATA['배송중']]>,'400',<![CDATA['배송완료']]>) AS odState
	    ,LISTAGG(o.GD_QTY, ',')  AS gdQty
	    ,LISTAGG(o.OD_AMT, ',')  AS odAmt
	    ,LISTAGG(g.GD_NM, ',') AS gdNm
	    FROM ORDER_INFO o 
	    LEFT OUTER JOIN GOODS_INFO g ON  g.GD_NO= o.GD_NO
	    WHERE OD_NO = #{odNo}
	    GROUP BY o.OD_NO,o.OD_STATE,o.TR_DATE,o.OD_DATE,o.RC_ADDR_ONE,o.RC_ADDR_TWO,o.RC_PHONE,o.RC_EMAIL,o.RC_NM)a
	</select>
</mapper>