<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.userBook.BestBookDaoImpl">
	<!-- 베스트 도서 이미지 리스트 가져오기 -->
	<select id="getBestBook" resultType="com.vo.adminGoodsMgt.GoodsListVO">
	/* bestBookMapper.getBestBook */
	SELECT
	      a.GD_NO as gdNo<!-- 상품번호 -->
		 ,a.GD_GP as gdGp<!-- 상품구분 -->
		 ,a.GD_SP as gdSp<!-- 상품분류 -->
		 ,a.GD_NM as gdNm<!-- 상품이름 -->
		 ,a.GD_CNT as gdCnt<!-- 상품재고 -->
		 ,a.GD_PAGE as gdPage<!-- 상품페이지 -->
		 ,a.GD_THICK as gdThick<!-- 상품두께 -->
	     ,a.GD_WR as gdWr<!-- 상품작가 -->
		 ,a.GD_PB as gdPb<!-- 상품출판사 -->
		 ,a.GD_DC as gdDc<!-- 상픔설명 -->
		 ,a.GD_YN as gdYn<!-- 상품개시 -->
		 ,a.GD_IMG as gdImg<!-- 상품이미지(BLOB) -->
		 ,a.GD_PRICE as gdPrice<!-- 상품가격 -->
	     ,b.cm_grnm as gdGpNm<!-- 상품구분이름 -->
	     ,c.cm_grnm as gdSpNm<!-- 상품분류이름 -->
	 FROM GOODS_INFO a 
	 left OUTER JOIN CMCD_MGT b ON  b.CM_GRCD = a.GD_GP
	 left OUTER JOIN CMCD_MGT c ON c.CM_GRCD = a.GD_SP and c.CM_UPCD = a.GD_GP
	WHERE a.GD_YN = 'Y'
	ORDER BY a.GD_REGDATE DESC
	</select>

	<!-- 선택된 베스트 도서 정보 가져오기 -->
	<select id="getBestDtl" parameterType="String" resultType="com.vo.adminGoodsMgt.GoodsListVO">
	/* bestBookMapper.getBestDtl */
	SELECT
	      GD_NO as gdNo<!-- 상품번호 -->
		 ,GD_GP as gdGp<!-- 상품구분 -->
		 ,GD_SP as gdSp<!-- 상품분류 -->
		 ,GD_NM as gdNm<!-- 상품이름 -->
		 ,GD_CNT as gdCnt<!-- 상품재고 -->
		 ,GD_PAGE as gdPage<!-- 상품페이지 -->
		 ,GD_THICK as gdThick<!-- 상품두께 -->
	     ,GD_WR as gdWr<!-- 상품작가 -->
		 ,GD_PB as gdPb<!-- 상품출판사 -->
		 ,GD_DC as gdDc<!-- 상픔설명 -->
		 ,GD_YN as gdYn<!-- 상품개시 -->
		 ,GD_IMG as gdImg<!-- 상품이미지(BLOB) -->
		 ,GD_PRICE as gdPrice<!-- 상품가격 -->
	 FROM GOODS_INFO
	 WHERE GD_NO = #{gdNo}
	</select>
	
	
	<!-- 검색글카운트 -->
	<select id="getListCount" parameterType="com.vo.common.SearchVO" resultType="_int">
	/*  bestBookMapper.getListCount */
		SELECT COUNT(*)
		  FROM GOODS_INFO
		 WHERE 1 = 1
		<if test='selectOptValOne != null and selectOptValOne.equals("optAll")'>
			AND GD_GP = 'optAll'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("special")'>
			AND GD_GP = 'child'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("general")'>
			AND GD_GP = 'general'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("foreign")'>
			AND GD_GP = 'foreign'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("child")'>
			AND GD_GP = 'child'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("magazine")'>
			AND GD_GP = 'magazine'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("it")'>
			AND GD_GP = 'it'
		</if>
		<if test='selectOptValOne != null and selectOptValOne.equals("exam")'>
			AND GD_GP = 'exam'
		</if>
		AND (GD_NM || GD_WR || GD_PB LIKE'%'||#{searchVal}||'%')
	</select>
</mapper>