<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.adminGoodsMgt.GoodsListDaoImpl">
	<!-- 물품목록리스트 가져오기 -->
	<select id="selectGoodsList" parameterType="com.vo.common.SearchVO" resultType="com.vo.adminGoodsMgt.GoodsListVO">
	/* goodsListMapper.selectGoodsList */
	SELECT *
	  FROM
	  (SELECT
	    ROWNUM as rnum,gdNo,gdGp,gdSp,gdNm,gdCnt,gdYn,gdPrice,gdImg,gdGpNm,gdSpNm
		FROM
		(SELECT
	      a.GD_NO as gdNo<!-- 상품번호 -->
		 ,a.GD_GP as gdGp<!-- 상품구분 -->
		 ,a.GD_SP as gdSp<!-- 상품분류 -->
		 ,a.GD_NM as gdNm<!-- 상품이름 -->
		 ,a.GD_CNT as gdCnt<!-- 상품재고 -->
		 ,a.GD_YN as gdYn<!-- 상품개시 -->
		 ,a.GD_PRICE as gdPrice<!-- 상품가격 -->
		 ,a.GD_IMG as gdImg<!-- 상품이미지(BLOB) -->
	     ,b.cm_grnm as gdGpNm<!-- 상품구분이름 -->
	     ,c.cm_grnm as gdSpNm<!-- 상품분류이름 -->
		  FROM GOODS_INFO a 
		   left OUTER JOIN CMCD_MGT b ON  b.CM_GRCD = a.GD_GP
		   left OUTER JOIN CMCD_MGT c ON c.CM_GRCD = a.GD_SP and c.CM_UPCD = a.GD_GP
		  WHERE 1 = 1
		 	<if test='startDt != null and endDt != null'>
				AND GD_REGDATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+ 1
			</if>
			<if test='selectOptValOne != null'>
				<if test='selectOptValOne.equals("optAll")'>
					AND GD_GP IN ('bestBook','newBook','localBook','foreignBook')
				</if>
				<if test='!selectOptValOne.equals("optAll")'>
					AND GD_GP = #{selectOptValOne}
				</if>
			</if>
			<if test='selectOptValTwo != null'>
				<if test='selectOptValTwo.equals("optAll")'>
					AND GD_SP IN ('foreign','child','magazine','it','exam','general','special')
				</if>
				<if test='!selectOptValTwo.equals("optAll")'>
					AND GD_SP = #{selectOptValTwo}
				</if>
			</if>
			<if test='selectOptValThree != null'>
				<if test='selectOptValThree.equals("optAll")'>
					AND(GD_NM LIKE '%'||#{searchVal}||'%'
						OR GD_NO LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValThree.equals("gdsName")'>
					AND(GD_NM LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValThree.equals("gdsNmbr")'>
					AND(GD_NO LIKE '%'||#{searchVal}||'%')
				</if>
			</if>
		 ORDER BY GD_REGDATE DESC,GD_NO DESC
		)WHERE ROWNUM <![CDATA[<=]]> #{endCount}
	)WHERE rnum <![CDATA[>=]]> #{startCount}
	</select>
	
	<!-- 상품 구분에 해당하는 상품 분류 가지고 오기 -->
	<select id="selectGoodsSeparate" parameterType="String" resultType="com.vo.common.CmmnVO">
	/* goodsListMapper.selectGoodsSeparate */
	SELECT *
	  FROM CMCD_MGT
	 WHERE CM_UPCD = #{goodsGroup}
	</select>

	<!-- 상품이미지,상세설명의 파일을 포함한 상품등록하기 -->
	<insert id="insertGoodsReg" parameterType="com.vo.adminGoodsMgt.GoodsRegVO">
	/*  goodsListMapper.insertGoodsReg */
	INSERT INTO GOODS_INFO
		(GD_NO
		,GD_GP
		,GD_SP
		,GD_NM
		,GD_CNT
		,GD_PAGE
		,GD_THICK
		,GD_WR
		,GD_PB
		,GD_DC
		,GD_YN
		,GD_PRICE
		<if test='gdImg != null'>
		,GD_IMG
		</if>
		<if test='gdDetl != null'>
		,GD_DETL
		,GD_DETLNM
		</if>
		,GD_REGDATE)
	VALUES
		(TO_CHAR(GOODS_INFO_SEQ.NEXTVAL)
		 ,#{gdGp}
		 ,#{gdSp}
		 ,#{gdNm}
		 ,#{gdCnt}
		 ,#{gdPage}
		 ,#{gdThick}
		 ,#{gdWr}
		 ,#{gdPb}
		 ,#{gdDc}
		 ,#{gdYn}
		 ,#{gdPrice}
		 <if test='gdImg != null'>
		 ,#{gdImg}
		 </if>
		 <if test='gdDetl != null'>
		 ,#{gdDetl}
		 ,#{gdDetlNm}
		</if>
		 ,sysdate)
	</insert>
	
	<!-- 하나의 물품정보 가져오기 -->
	<select id="selectDetailGoods" parameterType="String" resultType="com.vo.adminGoodsMgt.GoodsListVO">
	/* goodsListMapper.selectDetailGoods */
	SELECT
		 GD_NO as gdNo<!-- 상품번호 -->
		,GD_GP as gdGp<!-- 상품구분 -->
		,GD_SP as gdSp<!-- 상품분류 -->
		,GD_NM as gdNm<!-- 상품이름 -->
		,GD_CNT as gdCnt<!-- 상품재고 -->
		,GD_PAGE as gdPage<!-- 상품페이지 -->
		,GD_THICK as gdThick<!-- 상품두께 -->
		,GD_WR as gdWr<!-- 상품작가 -->
		,GD_PB as gdPb<!-- 상품출판사 -->
		,GD_DC as gdDc<!-- 상픔설명 -->
		,GD_YN as gdYn<!-- 상품개시 -->
		,GD_PRICE as gdPrice<!-- 상품가격 -->
		,GD_IMG as gdImg<!-- 상품이미지(BLOB) -->
		,GD_DETL as gdDetl<!-- 상세설명(BLOB) -->
		,GD_DETLNM as gdDetlNm<!-- 상세설명파일이름 -->
	  FROM GOODS_INFO
	 WHERE GD_NO = #{gdNo}
	</select>
	
	<!-- 물품상세 수정 하기 -->
	<update id="updateGoods" parameterType="com.vo.adminGoodsMgt.GoodsRegVO">
	/* goodsListMapper.updateGoods */
	UPDATE GOODS_INFO
	   SET
	    GD_GP = #{gdGp}
	   ,GD_SP = #{gdSp}
	   ,GD_NM = #{gdNm}
	   ,GD_CNT = #{gdCnt}
	   ,GD_PAGE = #{gdPage}
	   ,GD_THICK = #{gdThick}
	   ,GD_WR = #{gdWr}
	   ,GD_PB = #{gdPb}
	   ,GD_DC = #{gdDc}
	   ,GD_YN = #{gdYn}
	   ,GD_PRICE = #{gdPrice}
	<if test='gdImg != null'>
	   ,GD_IMG = #{gdImg}
	</if>
	<if test='gdDetl != null'>
	   ,GD_DETL = #{gdDetl}
	   ,GD_DETLNM = #{gdDetlNm}
	</if>
	WHERE GD_NO = #{gdNo}
	</update>
	
	<!-- 물품 삭제 하기-->
	<delete id="deleteGoods">
	/* goodsListMapper.deleteGoods */
	DELETE 
	  FROM GOODS_INFO
	 WHERE GD_NO IN
	<foreach item="item" collection="list" open="(" separator="," close=")"> 
		#{item}
	</foreach>
	</delete>
	
	<!-- 물품 개시 하기(체크된 것은 true)-->
	<update id="showGoodsTrue">
	/* goodsListMapper.showGoodsTrue */
	UPDATE GOODS_INFO
	   SET GD_YN = 'Y'
     WHERE GD_NO IN
	<foreach item="item" collection="list" open="(" separator="," close=")"> 
		#{item}
	</foreach>
	</update>
	
	<!-- 물품 개시 하기(체크되지 않은것은 false)-->
	<update id="showGoodsFalse">
	/* goodsListMapper.showGoodsFalse */
	UPDATE GOODS_INFO
	   SET GD_YN = 'N'
     WHERE GD_NO IN
	<foreach item="item" collection="list" open="(" separator="," close=")"> 
		#{item}
	</foreach>
	</update>
	
	<!-- 검색글카운트 -->
	<select id="selectGoodsListCount" parameterType="com.vo.common.SearchVO" resultType="_int">
	/*  goodsListMapper.selectGoodsListCount */
		SELECT COUNT(*)
		  FROM GOODS_INFO
		 WHERE 1 = 1
		<if test='startDt != null and endDt != null'>
				AND GD_REGDATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+ 1
		</if>
		<if test='selectOptValOne != null'>
				<if test='selectOptValOne.equals("optAll")'>
					AND GD_GP IN ('bestBook','newBook','localBook','foreignBook')
				</if>
				<if test='!selectOptValOne.equals("optAll")'>
					AND GD_GP = #{selectOptValOne}
				</if>
			</if>
			<if test='selectOptValTwo != null'>
				<if test='selectOptValTwo.equals("optAll")'>
					AND GD_SP IN ('foreign','child','magazine','it','exam','general','special')
				</if>
				<if test='!selectOptValTwo.equals("optAll")'>
					AND GD_SP = #{selectOptValTwo}
				</if>
			</if>
			<if test='selectOptValThree != null'>
				<if test='selectOptValThree.equals("optAll")'>
					AND(GD_NM LIKE '%'||#{searchVal}||'%'
						OR GD_NO LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValThree.equals("gdsName")'>
					AND(GD_NM LIKE '%'||#{searchVal}||'%')
				</if>
				<if test='selectOptValThree.equals("gdsNmbr")'>
					AND(GD_NO LIKE '%'||#{searchVal}||'%')
				</if>
			</if>
	</select>
</mapper>
