<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.dao.common.CommonDaoImpl">
 
	 <!-- 공통코드 가져오기 -->
	 <select id="selectCmmnCd" resultType="com.vo.common.CmmnVO">
	 /*  commonMapper.selectCmmnCd */
		SELECT 
		    CM_GRCD<!-- 그룹코드 -->
		   ,CM_GRNM<!-- 그룹코드명 -->
		   ,CM_UPCD<!-- 메뉴상위코드 -->
		   ,CM_YN<!-- 사용여부 -->
		   ,CM_CDDS<!-- 코드설명 -->
		   ,CMCD_WRT<!-- 등록자 -->
		   ,CMCD_REGDATE<!-- 등록일 -->
		  FROM CMCD_MGT
	 </select>
	 
	 <!-- 주문량,판매금액 불러오기 -->
	 <select id="selectOrderAmtQty" parameterType="java.util.Map" resultType="com.vo.common.OrderVO">
	 /*  commonMapper.selectOrderAmtQty */
		SELECT 
   			SUM(GD_QTY) AS TOTAL_QTY
   		   ,SUM(GD_QTY*OD_AMT) AS TOTAL_AMT
   		   <if test='dateType.equals("week")'>
   		   ,TO_DATE(OD_DATE) AS OD_DATE
   		   </if>
  		  FROM ORDER_INFO
		  WHERE OD_DATE BETWEEN TO_DATE(#{startDt}) AND TO_DATE(#{endDt})+0.99999
 		  <if test='dateType.equals("week")'>
   		   GROUP BY TO_DATE(OD_DATE)
   		   ORDER BY TO_DATE(OD_DATE)
   		  </if>
 		 
	 </select>
	 
	 <!-- 베스트 셀러 불러오기 -->
	 <select id="selectBestSeller" resultType="com.vo.adminGoodsMgt.GoodsListVO">
	  /*  commonMapper.selectBestSeller */	
		SELECT
		    G.GD_NO<!-- 상품번호 -->
		   ,G.GD_GP<!-- 상품구분 -->
		   ,G.GD_SP<!-- 상품분류 -->
		   ,G.GD_NM<!-- 상품이름 -->
		   ,G.GD_WR<!-- 상품작가 -->
		   ,G.GD_IMG<!-- 상품이미지 -->
		   ,NVL(O.SEL_QTY,0) AS SEL_QTY<!-- 판매수량 -->
		 FROM GOODS_INFO G
		 LEFT OUTER JOIN 
		    (SELECT GD_NO ,SUM(NVL(GD_QTY,0))AS SEL_QTY
		       FROM ORDER_INFO
		      GROUP BY GD_NO
		     ) O
		 ON O.GD_NO = G.GD_NO
		 WHERE G.GD_GP = 'bestBook'
	 </select>
	 
	 <!-- 추천도서 불러오기 -->
	 <select id="selectRecomnSeller" parameterType="java.lang.String" resultType="com.vo.adminGoodsMgt.GoodsListVO">
	 /*  commonMapper.selectRecomnSeller */	
		SELECT
		    GD_NO<!-- 상품번호 -->
		   ,GD_GP<!-- 상품구분 -->
		   ,GD_SP<!-- 상품분류 -->
		   ,GD_NM<!-- 상품이름 -->
		   ,GD_WR<!-- 상품작가 -->
		   ,GD_IMG<!-- 상품이미지 -->
		 FROM GOODS_INFO 
		 WHERE GD_GP = #{gpCd}
	 </select>
 </mapper>