/**
*생성자 : 김혜경
*생성일 : 2021.12.06
*로그인
*/
@charset "UTF-8";
@import url("/css/common/common.css");

#contents{
	position: absolute;
	margin: 5% auto;
	margin-left: 13%;
    margin-right: 20%;
	padding: 15px;
	width: 60%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;
}
table{
	 border-collapse : collapse;
	 margin-top: 20px;
	 margin-bottom: 20px;
}
th{
	padding: 11px 0 10px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    background-color: #fbfafa;
   
}

td{
	color: #353535;
	text-align: center;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #c1c1c1;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
}

#delBtn{
	display: flex;
    justify-content: flex-end;
}

#delBtn>button{
	width: 40px;
	height:20px;
	margin-left: 20px;
	font-size: x-small;
	background: #fddd88;
	color: #231815;
	border: none;
}

#img{
    margin: 0 auto;
	background-color:gray;
	width: 80px;
	height: 100px;
}
#bookInfo{
	text-align: left;
}
#tFoot{
	text-align: end;
	background-color: #fbfafa;
	padding-right: 20px;	
}

#redSpan{
	color: #d73737;
	font-weight: bolder;
}

#orderBtn{
	display: flex;
	justify-content: space-between;
}

#orderBtn>button{
	width: 80px;
    height: 30px;
	font-size: small;
	background: #fddd88;
	color: #231815;
	border: none;
}