/**
*생성자 : 김혜경
*생성일 : 2021.12.06
*내정보
*/
@charset "UTF-8";
@import url("/css/common/common.css");

#contentsWrap{
	position: absolute;
    margin: 5% auto;
    padding: 15px;
    width: 90%;
    display: inline-flex;
    flex-direction: column;
    align-content: stretch;
}

.info {
	margin-top: 5% !important;
	margin-left: 15% !important;
	margin-right: 15% !important;
	width: 60% !important;
}

table {
    border: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 1%;
	margin-bottom: 10%;
	background: white;
	width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th{
	width: 230px;
	background: #eaeaea;
}

.join-btn-wrap{
	margin: 0 auto;
}

button{
 	width: 0;
}

#updateInfoBtn{
	width: 135px;
    height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-inline-color: revert;
    border-color: #b1b1b1;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    margin-bottom: 100px;
}