/**
*생성자 : 김혜경
*생성일 : 2021.12.06
*비밀번호확이
*/
@charset "UTF-8";
@import url("/css/common/common.css");
@import url("/css/myTotalInfo/myInfo.css");

#contentsWrap{
	position: absolute;
    margin: 5% auto;
    padding: 15px;
    padding-top: 10%;
    width: 90%;
    display: inline-flex;
    flex-direction: column;
    align-content: stretch;
}

.flex{
	display: flex;
	margin-left: 200px;
}

.w100{
	width: 100px;
}
.ml100{
	margin-left: 50px;
}
.btnCss{
	width: 110px;
	color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-width: 1px;
    margin-right:10px;
}