/**
*생성자 : 김혜경
*생성일 : 2021.12.06
*회원정보수정
*/
@charset "UTF-8";
@import url("/css/common/common.css");
@import url("/css/myTotalInfo/myInfo.css");

.updateInfobtn-wrap{
    margin: 0 auto;
}

#updateInfoBtn{
	width: 427px !important;
	margin-left: 27% !important;
    height: 40px;
    border-inline-color: revert;
    border-color: #b1b1b1;
    border-bottom-style: solid;
    border-right-style: solid;
    margin-bottom: 100px;
}

.w90{
	width: 90px;
}